<div class="mr-20 mb-10 text-center">
 <a href=<%= movie.imdb_page %> target='_blank'>
  <img class="inline" src=<%= movie.poster_img_url %> alt=<%= movie.title %> />
 </a>

 <h2 class="mt-10 text-3xl text-slate-700"><%= movie.title %></h2>
</div>

