<%= turbo_frame_tag movie do %>
  <div class="m-5 text-center">
   <a href=<%= movie.imdb_page %> target='_blank'>
     <%= image_tag movie.poster_img_url, alt: movie.title, title: movie.title, class: "lg:h-poster w-auto" %>
   </a>
  </div>
<% end %>
